header {
    display: flex;
}

#content {
    display: flex;
}



#logo {

    margin-bottom: 40px;
}

.sidebar img {
    width: 150px;
    margin-right: 30px;
}

#football {
    margin-right: 30px
}

#div1 {
    font-weight: bold;
}

#div2 {
    font-weight: bold;
}

#div3 {
    font-weight: bold;
}

nav a {
    background-color: #24248f;
    color: #80ff00;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}


/* <header> display: flex;
   <content> display: flex; 
   --> so ist alles richtig ausgerichtet

   #logo margin-bottom: 40px;
   --> Abstand zwischen Logo und Bild darunter

   .sidebar img 
   --> img einziger Inhalt in der Sidebar, somit 
   passen sich die Bilder der Sidebar an und sind 
   gleich groß, der Text daneben fließt somit 
   nicht darin ein

   #football margin right: 30px;
   -->Abstand zwischen Bild und Text

  #div 1/2/3 font-weight 
  --> "Überschriften" fett markiert

  nav a 
  --> Dekoration der Links, nav a damit alle
  Links die sich in nav befinden gleich aussehen