    @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


    body {

        font-family: 'Roboto Slab', serif;
        background: url(../images2/ecke2.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
    }

    #top {
        display: flex;
        flex-direction: row;
        background-size: cover;
        background-position: center;
        height: 180px;
        border-style: solid;
        border-color: black;
        box-shadow: 2px 2px 2px 2px black;
        margin-bottom: 40px;
        background: linear-gradient(to bottom, #00ffcc 0%, #006600 100%);
    }

    h1 {

        font-size: 60px;
        color: white;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 230px;
    }


    #content {
        position: absolute;
        margin-left: 20%;
        margin right: 20%;
        padding-bottom: 50px;
        width: 60%;
        background-color: #ffffff;
        opacity: 0.9;
        overflow-x: hidden;
    }




    body::-webkit-scrollbar {
        width: 1em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    body::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #00ffcc 0%, #006600 100%);
        outline: 1px solid slategrey;
    }





    #boxin {

        font-size: 30px;
        color: white;
        text-align: center;
        width: 99,9%;
        border: 3px solid black;
        background: linear-gradient(to bottom, #00ffcc 0%, #006600 100%);
        overflow: hidden;
        margin-bottom: 30px;
    }

    #logo {
        position: absolute;
        margin-left: 20px;
        margin-right: 20px;
        width: 150px;
        border: 2px solid black;
        border-radius: 50%;
        margin-top: 15px;
    }

    #div1 {
        font-size: 40px;
        font-weight: bold;
    }

    #div2 {
        font-size: 40px;
        font-weight: bold;
    }

    #div3 {
        font-size: 40px;
        font-weight: bold;
    }



    article {
        padding-left: 30px;
        margin-top: 10px;
    }

    nav {
        margin-left: 200px;
    }

    nav a {

        width: auto;
        background: linear-gradient(to bottom, #99ff66 0%, #009933 100%);
        padding: 15px;
        text-decoration: none;
        box-shadow: 2px 2px 2px 2px black;
        color: black;
        border-radius: 5px;
       
        margin-left: 20px;
    }

    nav a:hover,
    nav a:active {
        background: linear-gradient(to bottom, #00ffff 0%, #3333cc 100%);
    }

    #unterstrichen {
        text-decoration: underline;
    }


    div #rulesheading {
        text-align: center;
    }


    main {
        width: 100%;
    }

    article {
        width: 800px;
    }


    ul#square {
        list-style-type: square;
    }

    ul#circle {
        list-style-type: circle;
    }

    #info table {
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
        table-layout: fixed;
        border: 2px solid black;
    }


    #football {
        position: absolute;
        margin-left: 1250px;
        margin-top: -20px;
        width: 150px;
        border-radius: 50%;
    }

    #maps {
        margin-bottom: 40px;
    }

    #registration table {
        width: 100%;
    }

    #registration td {
        padding: 10px;
        width: 50%;
    }

    input[type=textbox] {
        width: 100%;
        padding: 0;
        height: 30px;
        position: relative;
        left: 0;

        border: 1px solid #bbb;
        border-color: rgba(0, 0, 0, .15);
        background-color: white;
        font-size: 16px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        font-size: 1em;
        width: 100% width:100%;
        border: 1px solid #bbb;
        padding: .75em 1em .5em 1em;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: white;
        background-image: url(select-arrow.png);
        background-position: right;
        background-repeat: no-repeat;
    }

    select:hover {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    }
    /* neu:
}
<header> display: flex;
   <content> display: flex; 
   --> so ist alles richtig ausgerichtet
nav a hover: link leuchtet auf wenn man 
mit der Maus brührt;

box-shadow: für schatten
float: left ;
background-size: cover (so wird die ganze 
Breite genutzt)